[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-registration = "*"
django-compressor = "*"
django-payments = "*"
pillow = "*"
stripe = "*"
sorl-thumbnail = "*"
django-storages = "*"
boto3 = "*"
django-ses = "*"
mysqlclient = "*"
coverage = "*"

[dev-packages]
django-sass-processor = "*"
libsass = "*"

[requires]
python_version = "3.7"
