[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-registration = "*"
django-sass-processor = "*"
libsass = "*"
django-compressor = "*"

[dev-packages]

[requires]
python_version = "3.6"
