[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-registration = "*"
django-compressor = "*"
django-payments = "*"
pillow = "*"
stripe = "*"
sorl-thumbnail = "*"
django-ses = "*"
mysqlclient = "*"
coverage = "*"
python-dotenv = "*"
django-countries = "*"
python-memcached = "*"

[dev-packages]
django-sass-processor = "*"
libsass = "*"
django-debug-toolbar = "*"
memcache-toolbar = "*"

[requires]
python_version = "3.7"
