-i https://pypi.org/simple/
asgiref==3.3.1
boto3==1.17.31
botocore==1.20.31
braintree==4.6.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
confusable-homoglyphs==3.2.0
coverage==5.3.1
cryptography==3.4.6
django-appconf==1.0.4
django-compressor==2.4
django-countries==7.0
django-payments==0.13.0
django-registration==3.1.1
django-ses==1.0.3
django==3.1.6
future==0.18.2
futures==3.1.1
idna==2.10
jmespath==0.10.0
mysqlclient==2.0.3
pillow==8.1.0
pycparser==2.20
pyjwt==2.0.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-memcached==1.59
pytz==2021.1
rcssmin==1.0.6
requests==2.25.1 ; python_version >= '3.0'
rjsmin==1.1.0
s3transfer==0.3.5
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
stripe==2.55.1
suds-jurko==0.6
urllib3==1.26.4
xmltodict==0.12.0
