-i https://pypi.org/simple/
asgiref==3.3.4
boto3==1.17.90
botocore==1.20.90
braintree==4.9.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
confusable-homoglyphs==3.2.0
coverage==5.3.1
cryptography==3.4.7
django-appconf==1.0.4
django-compressor==2.4
django-countries==7.0
django-payments==0.13.0
django-registration==3.1.1
django-ses==1.0.3
django==3.1.10
future==0.18.2
idna==2.10
jmespath==0.10.0
mysqlclient==2.0.3
pillow==8.1.0
pycparser==2.20
pyjwt==2.1.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-memcached==1.59
pytz==2021.1
rcssmin==1.0.6
requests==2.25.1 ; python_version >= '3.0'
rjsmin==1.1.0
s3transfer==0.4.2
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
stripe==2.55.1
suds-jurko==0.6
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
xmltodict==0.12.0
