/* html { background-color: #66050d; z-index: -99;} */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Diplomata', cursive; */
/* font-family: 'Bungee Shade', cursive; */
/* font-family: 'Monoton', cursive; */
/* font-family: 'Bungee Inline', cursive; */
/* font-family: 'Sonsie One', cursive; */
/* font-family: 'Diplomata SC', cursive; */
/* font-family: 'Fascinate Inline', cursive; */
/* font-family: 'Fascinate', cursive; */
/****** Remove ******/
/* font-family: 'Kranky', cursive; */

body {
    background-color: #a3c2d7;  /* ccefdb 3b9c71 light=#abc9dd darker=#72a1ca middle=#92b5d1 25%=#a3c2d7  */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    width: 95%;
    height: 100%;
    margin: 0 auto;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
#bg2-stripe {
    position: absolute;
    left: 18.5rem;
    width: 22rem;
    height: 80rem;
    transform: skew(20deg);
    background-color: yellow;
    z-index: -1;
}
header {
    /* margin: 0; padding: 0; */
    outline: 1px solid red;
}
header h1 {
    /* font-family: 'Sonsie One', cursive; /* Too modern?  */
/* font-family: 'Bungee Inline', cursive;  /* Too blocky  */
/* font-family: 'Bungee Shade', cursive; */
/* font-family: 'Monoton', cursive; */
/* font-family: 'Fascinate Inline', cursive;  /* Ugly 'S' */
/* font-family: 'Fascinate', cursive; /* Ugly 'S' */
/* font-family: 'Diplomata SC', cursive; */
    /* font-family: 'Diplomata', cursive; */
    font-size: 3rem;
    transform: rotate(-10deg);
    display: inline-block;
    margin: 0; padding: 0;
    /* width: 23rem; */
    /* margin: 1.25rem 0.5rem .25rem 0.75rem; */
    /* float: left; */
}
/* #seattle {
} */
/* #swing::before {
    content: "\A";
    white-space: pre;
} */
#swing { display: block; margin: 0; padding: 0;}
#swing::before { content: attr(data-text); padding: 0 2.5em; margin: 0;}
 /****** Menu ************************/
header nav { display: inline-block; float: right; text-align: right; margin: 0; padding: 0; }
header nav ul { display: block; margin: 0; }
header nav li { display: block; text-align: right; }
header nav .user-login li { display: inline-block; }
header nav .user-login li:before { content: ' |'; }
header nav a { text-decoration: none; }
input#menu-toggle[type=checkbox] { position: absolute; top: 0; left: 0; opacity: 0; }
label#menu {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: block;
    margin: 0.75rem 0 0.25rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #66050d; /*  #77161e; */
    color: #eeeeee;
}
/* Default State */
.nav-menu  { display: none; text-align: right; }
                    /* position: absolute;
                    top: 7rem;
                    right: 2rem; */
                    /* visibility: hidden; */
/* Toggled State */
input#menu-toggle[type=checkbox]:checked ~ .nav-menu { display: inline-block; }
                  /* visibility: visible; */
/****** End Menu ************************/
aside {
    width: 11rem;
    /* height: 76rem; */
    /* display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
    /* justify-content: space-between; */
  }
  aside img {
      /* align-self: flex-start; */
      width: 100%;
  }
