{% extends "generic/base.html" %}

{% block content %}

<section>
  <article>
    <h2>{{ display_session }}</h2>
    {% for ea in class_list %}
    <h3>{{ ea.subject }}: {{ ea.subject.title }} </h3>
    <ul>
      {% for reg in ea.registration_set.all %}
      <li>
        {{reg.student}} |
      {% if reg.student.l2_finished %}
        L2 |
      {% elif reg.student.beg_finished %}
        Beg |
      {% else %}
        NA |
      {% endif %}
      {% if reg.payment %}
        <a href="{% url 'payment' id=reg.payment.id %}">{{reg.payment.id}}</a> |
      {% endif %}
        {{reg.paid}}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <hr />
    <p>End of list of Students</p>
  </article>
</section>

{% endblock content %}
