{% extends "generic/base.html" %}

{% block content %}

<section>
  <article>
    <h2>{{ sessions }}</h2>
    {% for ea in class_list %}
    <h3>{{ ea.subject }}: {{ ea.subject.name }} </h3>
    <ul>
    {% for reg in ea.registration_set.all %}
      <li>
        {{reg.student}} |
      {% if reg.student.l2_finished %}
        L2 |
        {% elif reg.student.beg_finished %}
        Beg |
        {% else %}
        NA |
      {% endif %}
      {% if reg.payment %}
        <a href="{{ reg.payment.get_absolute_url }}">{{reg.payment.id}}</a> |
      {% endif %}
      {% if reg.owed is None %}
        Unpaid |
        {% elif reg.owed == 0 %}
        Paid |
        {% else %}
        {{ reg.owed }} |
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% endfor %}
    <hr />
    <p>End of list of Students</p>
    <p>
      {% if prev_session %}
      <a href="{% url 'checkin_session' display_session=prev_session %}">Previous Session</a> |
      {% else %}
      No Previous Session |
      {% endif %}
      {% if next_session %}
      <a href="{% url 'checkin_session' display_session=next_session %}">Next Session</a>
      {% else %}
      No Next Session
      {% endif %}
    </p>
  </article>
</section>

{% endblock content %}
