{% extends "generic/base.html" %}

{% block head %}
<title>{{ classoffer.subject.name }}</title>
{% endblock head %}


{% block content %}

<section>
  <article>
    <h1>{{ classoffer.subject.name }}</h1>
    <ul>
      <li>{{ classoffer.subject.tagline_1 }}</li>
      <li>{{ classoffer.subject.tagline_2 }}</li>
      <li>{{ classoffer.subject.tagline_3 }}</li>
      <li>{{ classoffer.day }} | {{ classoffer.start_time|date:"g:i" }} - {{ classoffer.end_time|date:"g:iA"|lower }} </li>
      <li>{{ classoffer.start_date|date:"F jS" }} - {{ classoffer.end_date|date:"F jS, Y" }}</li>
      <li>Taught by: {{ classoffer.teachers.all|join:", " }} </li>
    </ul>

    <p>
      {{ classoffer.subject.description }}
    </p>
  </article>
</section>

{% endblock content %}

<!-- TODO: Fill out ClassOffer Detail View -->
<!-- TODO: Add a link to sign up -->
