{% extends "generic/base.html" %}

{% block head %}
<title>Swing Dance - Lindy Hop Classes</title>
{% endblock head %}


{% block content %}
<section>

  <article class="header">
    <h1>Swing Dance - Lindy Hop Classes</h1>
    <p>Registration is open for these scheduled classes.</p>
    {% if user.is_staff %}
    <p> {{ display_session }} </p>
    {% endif %}
  </article>

  {% for classoffer in classoffers %}
  <article class="classoffer">
    <h2>{{ classoffer.subject.title }}</h2>
    <ul>
      <li>{{ classoffer.day }} | {{ classoffer.start_time }} - {{ classoffer.end_time }} </li>
      <li>{{ classoffer.start_date }} - {{ classoffer.end_date }}</li>
      <li>Taught by: {{ classoffer.teachers }} </li>
    </ul>
    <p class="description">
      {{ classoffer.subject.description }}
    </p>
    <p><a href="{% url 'classoffer_detail' id=classoffer.id %}">More Details</a></p>
  </article>
  <hr />
  {% endfor %}

  <article class="footer">
    <p>
      Generally a new session of classes will start after these classes are finished.
      Check back for an updated schedule.
    </p>
  </article>

</section>
{% endblock content %}
