{% extends "generic/base.html" %}


{% block content %}

<section>
  <header>
    <h2>Established Locations</h2>
    <p>These are locations we use. If you are looking for your class, confirm which location your class is held in. </p>
  </header>

  {% for location in locations %}
  <article>
    <h3>{{ location }}</h3>
    <p>
      {{ location.address }} <br \>
      {{location.city}}, {{location.state}} {{location.zipcode}} <br \>
    </p>
    <p>
      | By Bus | Google Maps |
    </p>
    <p><a href="{{ location.get_absolute_url }}">{{ location }}</a></p>
  </article>
  {% endfor %}
  <hr />
  <footer>
    <p>End list of Locations</p>
  </footer>
</section>

{% endblock content %}
