{% extends "generic/base.html" %}


{% block content %}
<section>
  <header>
    <h2>Upcoming Classes</h2>
    <p>some section header content</p>
  </header>

  {% for classoffer in classoffers %}
  <article>
    <h3>{{ classoffer }}</h3>
    <ul>
      <li>{{ classoffer.num_weeks }} weeks | {{ classoffer.key_day_date }} </li>
      <li>First to Last Class: {{ classoffer.start_date }} | {{ classoffer.end_date }} </li>
      <li>Published: {{ classoffer.publish_date }} | {{ classoffer.expire_date }} </li>
    </ul>
  </article>
  {% endfor %}

  <footer>
    <p>End list of Sessions</p>

  </footer>
</section>
{% endblock content %}
