{% extends "generic/base.html" %}

{% block head %}
<title> Register for Classes </title>
{% endblock head %}

{% block content %}
<h2> Class Sign Up </h2>
{% if user.is_authenticated %}
  <p> Sign up with your current user info below.
      If want to register a different person then ...
  </p>
{% else %}
  <p> If you have had classes with us before, you can login to your previous details
      to make class sign up easier (and view custom content for exisitng students).
      <a href="{% url 'login' %}">Login</a>
  </p>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="save">
</form>
{% endblock content %}
