{% extends "generic/base.html" %}

{% block head %}
<title>Your Profile</title>
{% endblock head %}


{% block content %}

<section>
  <header>
    <h2>{{ profile }} Profile Details</h2>
    {% if profile.bio %}
    <p>{{profile.bio}}</p>
    {% else %}
    <p>Currently no profile bio available</p>
    {% endif %}
  <h3>Resources</h3>
  </header>
  {% for key, values in resources.items %}
  <article>
    <h4>{{key}}</h4>
    <ul>
      {% for res in values %}
      <li><a href="{% url 'resource_detail' id=res.id %}">{{ res.name }}</a></li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}

</section>

<section>
  <header>
    <h3>User Account Details</h3>
    <ul class="no_bullet">
      <li>{{ profile.user.first_name }} {{ profile.user.last_name }}</li>
      <li>{{ profile.user.email }} </li>
      {% if profile.username != profile.user.email %}
      <li>{{ profile.username }} (login name)  </li>
      {% endif %}
      {% if not profile.user.password %}
      <li>No Password created yet</li>
      {% endif %}
      {% if profile.user.billing_address_1 and profile.user.billing_city and profile.user.billing_postcode %}
      <li>
        {{ profile.user.billing_address_1 }} <br />
        {% if profile.user.billing_address_2 %}
        {{ profile.user.billing_address_2 }} <br />
        {% endif %}
        {{ profile.user.billing_city }},
        {{ profile.user.billing_country_area }}
        {% if profile.user.billing_country_code != 'US'  %}
        {{ profile.user.billing_country_code }}
        {% endif %}
        {{ profile.user.billing_postcode }}
      </li>
      {% else %}
      <li>Billing Address Incomplete</li>
      {% endif %}
    </ul>
    <p>
      <a href="{% url 'user_update' %}">Update User Account Details</a>
    </p>
    {% if profile.user.is_staff and profile.user.is_student %}
    <p>
      <a href="{% url 'profile_staff' id=profile.user_id %}">Staff Profile</a> |
      <a href="{% url 'profile_student' id=profile.user_id %}">Student Profile</a> |
      <a href="{% url 'profile_user' id=profile.user_id %}">Default Profile</a>
    </p>
    {% endif %}
    <h3>Class History</h3>
    <p>These are the classes we have records of you
       {% if profile_type == 'student' %}attending{% else %}teaching{% endif %}.
       Contact us if any seem missing. </p>
  </header>

  {% for classoffer in classoffers %}
  <article class="class_history">
    <h4>{{classoffer}}</h4>
    <p>
      {{classoffer.start_date|date:"M jS"}} to {{classoffer.end_date|date:"M jS"}} |
      {{classoffer.start_time|date:"g:i"}} - {{classoffer.end_time|date:"g:iA"|lower}}
      <br />
      Taught by: {{ classoffer.teachers.all|join:", " }}
    </p>
  </article>
  {% endfor %}

</section>

{% endblock content %}
