option_settings:
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/opt/python/current/app/web:$PYTHONPATH"
    SECRET_KEY: "@ly6-fbw9e6p_@tzxfqp-mdit4z_jtn23xav3e"
    DEBUG: "True"
    LIVE_ALLOWED_HOSTS: "hepcat-dev.us-west-2.elasticbeanstalk.com"
    EMAIL_ADMIN_ID: "admin"
    EMAIL_DOMAIN: "SeattleSwing.com"
    EMAIL_HOST: "smtp.seattleswing.com"
    EMAIL_PORT: 587
    EMAIL_HOST_USER: "test@seattleswing.com"
    EMAIL_HOST_PASSWORD: "admin1234"
    EMAIL_USE_TLS: "True"
    EMAIL_USE_SSL: "False"
    EMAIL_ADMIN_PREFIX: "HepCat"
    EMAIL_ADMIN_ARE_MANAGERS: "True"
    STRIPE_PUBLIC_KEY: "pk_test_TWifdrPBk8HuqJitMwMVH5Wu"
    STRIPE_KEY: "sk_test_mwqVq2g0naEUYXgmQJvR6Tbz"
    PAYPAL_BUYER: "Chris-buyer@SeattleSwing.com"
    PAYPAL_EMAIL: "Chris-facilitator@SeattleSwing.com"
    PAYPAL_CLIENT_ID: "Ae0CZVvffMi7Y-t8JBNOYW7_5744A3lsbxz6ulDl5NeC2PzWMSZNaXZsd9WAppFLSQoVZyGiSiDZeGXJ"
    PAYPAL_SECRET: "EJ_9vYrRp2546elonAl2vjn9JDhzML5_x_WEvU3CMfCBZbi5WWYsfnrUDJWbW1901-Znd6MN6pvX5DNM"
    DEFAULT_CLASS_PRICE: 70.0
    DEFAULT_PRE_DISCOUNT: 5.0
    MULTI_DISCOUNT: 10.0
    DJANGO_SETTINGS_MODULE: "hepcat.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: /opt/python/current/app/web/hepcat/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"
