container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py collectstatic --noinput"
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py createsu"
    leader_only: true
  04_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
