body {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header { order: -1; }
/* main section.temp {
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left-column {
    padding-top: 1.75rem;
    background-color: #9b9;
}
#right-column {
    padding-top: 0rem;
    background-color: blueviolet;
} */

main {
    /* background-color: bisque; */
    /* min-width: 57.12131017rem; */
    width: 57.122rem;
    max-width: 85%;
    order: 2;
    /* flex: 3 1; */
}

#left-design-layout {
  min-width: 0.1rem;
  max-width: 14.80rem;
  max-height: 46rem;
  order: 1;
  flex: 2 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#left-design-layout img { width: 100%; }
footer {
    /* bottom: 2rem; */
    order: 3;
    text-align: left;
    padding-left: 1rem;
    width: 21.58rem;
}
/* **** HIGHLIGHT HERE **** */
/* #offers, */
/* main section:last-child, */
/* #offers-visual-element, */
/* #header, */
/* #left-design-layout, */
/* main, */
/* #layout, */
/* footer
{
    outline: 1px solid red;
} */
