body {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#left-design-layout {
  min-width: 0.1rem;
  max-width: 14.80rem;
  max-height: 46rem;
  order: 1;
  flex: 2 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#left-design-layout img { width: 100%; }
main {
    width: 57rem;
    order: 2;
    flex: 1 1;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}
footer {
    bottom: 13.75rem;
    order: 3;
    text-align: left;
    width: 20.58rem;
}
/* **** HIGHLIGHT HERE **** */
/* #offers, */
/* main section:last-child, */
/* #offers-visual-element, */
/* #header, */
/* #left-design-layout, */
/* main, */
/* #layout, */
/* footer
{
    outline: 1px solid red;
} */

@media screen and (max-width: 880px) {
    #left-design-layout img { visibility: collapse; }
    footer img { visibility: visible; display: inline-block; }
    footer { width: 11.5rem; bottom: 16.75rem; }
    footer li:first-of-type { visibility: collapse; width: 0; }
}
