/* Most browsers have a default 16px font-size (but this can vary) */
/* This means 1rem is about 16px */

.container a { text-decoration: none; }
.container {
    position: relative;
    margin: 2.1875rem auto 0;
    width: 18.75rem;
    height: 100%;
    min-height: 18.375rem;
    background-color: #533557;
    overflow: hidden;
}
  /* Toggle functionality */
#toggle { position: absolute; left: -100%; top: -100%; }
#toggle:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 34.375rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
    box-shadow: 0 0 0 34.375rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1), 0 0 0 0.5rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1);
}
  #toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }

  #toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }

  #toggle:checked:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 34.375rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1), 0 0 0 0.5rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1);
  }

  #toggle:checked ~ .nav {
    margin-bottom: 6.25rem;
    pointer-events: auto;
    -webkit-transform: translate(3.125rem, 3.125rem);
        -ms-transform: translate(3.125rem, 3.125rem);
            transform: translate(3.125rem, 3.125rem);
  }

  #toggle:checked ~ .nav .nav-item {
    color: #EC7263;
    letter-spacing: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(4) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  #toggle:checked ~ .nav .nav-item:nth-child(4):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  #toggle:checked ~ .nav .nav-item:before {
    opacity: 0;
  }

  #toggle:checked ~ .dummy-content {
    padding-top: 1.875rem;
  }

  #toggle:checked ~ .dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Toggle button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 1.5625rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }

  .button-toggle:hover {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1), inset 0 0 0 1.25rem rgba(0, 0, 0, 0.1);
  }

  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #EC7263;
    border-radius: 0.3125rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }

  .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
            transform: translateY(-50%) rotate(-45deg) scale(0);
  }

  /* Menu */
  .nav {
    display: inline-block;
    margin: 1.5625rem 1.5625rem 1.25rem;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 1.1rem;
    letter-spacing: -0.3875rem;
    height: 0.4375rem;
    line-height: 0.4375rem;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
        -ms-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
}

  .nav-item:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  .nav-item:nth-child(1):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }

  .nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }

  .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .nav-item:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  .nav-item:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
/* Adjust the letter-spacing (default: -0.3875rem) depending on how much text for that menu item */
/* .nav-item:nth-child(1) { letter-spacing: -0.5rem; } */
/* .nav-item:nth-child(2) { letter-spacing: -0.4375rem; } */
.nav-item:nth-child(3) { letter-spacing: -0.45rem; }
/* After the 3rd nav-item, it is hidden but appears to shrink & meld into 3rd */
.nav-item:nth-child(n + 4) { letter-spacing: -0.046875rem; margin-top: -0.4375rem; opacity: 0; }

  .nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #EC7263;
    -webkit-transform: translateY(-50%) scaleY(5);
        -ms-transform: translateY(-50%) scaleY(5);
            transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  /* Dummy content */
  .dummy-content {
    position: relative;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .dummy-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .circle {
    display: inline-block;
    width: 4.6875rem;
    height: 4.6875rem;
    background-color: #EC7263;
    border-radius: 100%;
  }

  .text {
    margin: 0.9375rem 0 1.875rem;
  }

  .text span {
    display: inline-block;
    height: 0.625rem;
    margin: 0 0.3125rem;
    background-color: #C06162;
    border-radius: 0.3125rem;
  }

  .text span:first-child {
    width: 3.125rem;
  }

  .text span:last-child {
    width: 5rem;
  }

  .square-top {
    display: inline-block;
    position: relative;
    width: 12.5rem;
    height: 18.75rem;
    background-color: #FEBE7E;
    z-index: 1;
  }

  .square-behind {
    display: inline-block;
    position: relative;
    top: -16rem;
    width: 15.625rem;
    height: 20.625rem;  background-color: #C28683 }

  .square-behind:before, .square-behind:after {
    position: absolute;
    content: '';
    top: 0;
    width: 40%;
    height: 100%;
  }

  .square-behind:before {
    left: 0;
    background-color: #9D567C;
  }

  .square-behind:after {
    right: 0;
    background-color: #958C6B;
  }
