/* Default for most browsers is 16px for 1rem */
.clear { clear: both; }
html { width: 98%; min-width: 20.03rem; max-width: 73rem; margin: 0 auto; padding: 0;  }
/* min-width: 41.25rem; */
body {
    background-color: #a3c2d7;  /* ccefdb 3b9c71 light=#abc9dd darker=#72a1ca middle=#92b5d1 25%=#a3c2d7  */
    width: 100%; margin: 0; padding: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
header { display: flex; justify-content: space-between; align-items: flex-start; }
    /* margin: 0; padding: 0; width: 100%; */
header h1 { font-family: 'Diplomata', cursive; transform: rotate(-10deg); margin: 0 0 -2.5rem 0.25rem; }
    /* align-self: flex-start; */
    /* font-size: 3.6rem; */
#swing { display: block; }
#swing::before { content: attr(data-text); padding: 0 2.5em; }
/* Main Site Nav inside a nav inside of Header */
header nav { align-self: flex-end; margin: 0; text-align: right; font-size: 110%;}
input#menu-toggle[type=checkbox] { position: absolute; top: 0; right: 0; opacity: 0; }
/* For mobile: better for 0 Opacity and position checkbox in top right of clickable area */
/* Default State, then Toggled (on) State */
header .nav-menu  { display: none; position: absolute; top: 7rem; right: 2rem; text-align: right; }
header input[type=checkbox]:checked ~ .nav-menu { display: inline-block; }
    /* Maybe could add to the previous two - visibility: collapse | visible; */
header label#menu {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 0.75rem 0 0.25rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #66050d; /*  #77161e; */
    color: #eeeeee;
    border-radius: 1rem;
}
header nav ul, footer ul { display: block; margin: 0; padding: 0;}
header nav li { display: inline-block; text-align: right; }
footer li { display: inline-block; text-align: left; margin: 0; padding: 0; }
header nav li:before, footer li:after { content: ' | '; }
footer li:last-of-type:after { content: ''; }
header nav a, footer a { text-decoration: none; }
footer p { margin: 0; padding: 0; }
footer img { visibility: collapse; width: 9rem; border-radius: 1.25rem; margin: 0; padding: 0; } /* width: 16.775vw */
footer { font-size: 90%; text-align: center; }
/****************** End of Header & Footer Settings ************************/
#left-design-layout {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#left-design-layout img { width: 100%; }
#offers {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-end; */
    text-align: center;
}
main section:nth-child(2) {
    order: 3;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/****************** End of Main Page Parts, Now sub-parts ************************/
#offers article {
    margin: 0.5rem auto;
    border: 0.25rem solid #d8cdbe;
    border-radius: 2rem;
    padding: 0.25rem;
    z-index: 2;
    width: 20.4295rem;
}
#offers article img { float: left; width: 7.55rem; margin: 0; padding: 0; }
#offers h3 { margin: 0; font-size: 1.1rem; }
#offers p { margin: 1rem 0; }
#offers p.description { text-align: left; }
/* #offers article:nth-child(2) { width: 17.75rem; margin-left: 7.63672rem; transform: rotate(-3deg); }
#offers article:nth-child(3) { width: 13.3545rem; margin-left: 14.5996rem; } */
/* #offers article:nth-child(2) { margin-left: 8.6711vw;   }
#offers article:nth-child(3) { margin-left: 17.34225vw; } */
.video { position: relative; padding-top: 74.19%; width: 100%; }
.video iframe, .video video { position: absolute; top:0; right:0; width:100%; height:100%; border-radius: 2rem; }
#offers-visual-element {
    /* background-color: #77161e; */
    background-color: #205b4f;
    z-index: -1;
    position: absolute;
    /* left: -1rem; */
    right: 18.85rem;
    top: 0;
    width: 48rem;
    height: 65rem;
    clip-path: polygon(0% 0%, 72% 0%, 100% 100%, 74% 100% );
}

header h1 { font-size: 3.6rem; }
html { font-size: 81.25%; }

@media screen and (max-width: 460px) {
    main { display: block; }
    #offers { padding-top: 0; }
    #offers article img { float: right; }
    #offers article:nth-child(n) { width: 22.697rem; transform: unset; }
    main section:nth-child(2) { width: 100%; max-width: 22.697rem; margin: 0 auto; }
}
@media screen and (min-width: 461px) {
    main { display: flex; align-content: space-between; align-items: stretch; justify-content: flex-start; }
    #offers { padding-top: 2.75vw; margin-right: 1rem; justify-content: flex-start; }
    /* #offers article:nth-child(1) { width: 20.4295rem; } */
    #offers article:nth-child(2) { width: 17.75rem; transform: rotate(-3deg); }
    #offers article:nth-child(3) { width: 13.355rem; }
    main section:nth-child(2) { max-width: 25.3rem; }
}
@media screen and (min-width: 690px) {
    main { justify-content: flex-end;  }
    /* header h1 { font-size: 3.9394vw; } */
    #offers { padding-top: 1.75rem; margin-right: 2rem; min-width: 23.5rem; justify-content: flex-end; }
    #offers h1 { font-size: 1.8rem; margin-top: 0.8rem; margin-bottom: 1rem; }
    #offers article:nth-child(1) { margin-left: 0;      }
    #offers article:nth-child(2) { margin-left: 32.50%; }
    #offers article:nth-child(3) { margin-left: 62.13%; }
    .video { width: 92.537%; }
    main section:nth-child(2) article:last-child { min-width: 25.3rem; text-align: right; }
    main section:nth-child(2) article:last-child p { text-align: left; padding-left: 14%; }
    main section:nth-child(2) article:last-child p:last-child{ padding-left: 22%; }
    footer { text-align: left; width: 11.5rem; position: relative; bottom: 13.25rem; }
    footer img { visibility: visible; display: inline-block; }
    footer li:first-of-type { display: none; }
}
@media screen and (max-width: 689px) { footer img, #offers-visual-element { display: none; } }
@media screen and (max-width: 775px) { #left-design-layout { width: 0; height: 0; min-width: unset; display: none; } }
@media screen and (min-width: 776px) {
    #left-design-layout { min-width: 0.1rem; max-width: 15.082030rem; }
    footer img { visibility: collapse; }
    footer { width: 20.58rem; }
    footer li:first-of-type { display: unset; }
}
@media screen and (min-width: 874px) {
    /* html { font-size: 1.5625vw; } */
    /* min-width 874px is where needle hits the max size. Any pixel higher has needle at same size. */
    html { font-size: 1.48741vw; }
    /* 1.48741vw - 1.4874085vw to 1.4874199162358824333196594125183764845132vw */
    /* min-width 873px */
    /* html { font-size: 1.48912vw; } */
    footer ul { outline: solid purple; }
}
@media screen and (min-width: 1076px) {
    html { font-size: unset; }
    main { justify-content: flex-start; }
    #offers-visual-element { left: -1rem; right: unset; }
    #left-design-layout { min-width: unset; max-width: unset; width: 15.082030rem; }
    /* #left-design-layout { min-width: 15.082030rem; max-width: 15.082030rem; width: 15.082030rem; } */
    main section:nth-child(2) { min-width: 25rem; max-width: 26.7rem; }
    main section:nth-child(2) { min-width: 25rem; max-width: 32.45rem; }
    footer ul { outline: dashed purple; }
    main section:nth-child(2) {outline: solid red;}
    main { outline: solid purple; }
}
@media screen and (max-width: 1024px) {
    /* html { font-size: 1.5625vw; } */
}
@media screen and (max-width: 832px) {
    header h1 { font-size: 5.625vw; }
    /* html { font-size: 81.25%; } */
}

/* header { outline: solid red; } */
/* #left-design-layout, main { outline: dashed purple} */
