body {
    background-color: #a3c2d7;  /* ccefdb 3b9c71 light=#abc9dd darker=#72a1ca middle=#92b5d1 25%=#a3c2d7  */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    width: 98%;
    /* min-width: 64.5rem; */
    /* min-width: 64.947rem; */
    min-width: 64.75rem;
    /* max-width: 71.8rem; */
    max-width: 77.8rem;
    /* height: 100%; */
    margin: 0 auto;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
/* #bg2-stripe {
    position: absolute;
    left: 18.5rem;
    width: 22rem;
    height: 80rem;
    transform: skew(20deg);
    background-color: yellow;
    z-index: -2;
} */
#bg-stripe {
    background-color: #33AA33;
    position: absolute;
    /* Left: 3rem; width: 61rem; height: 66rem; Clean edge for: width: 26rem;, padding-top: 4rem;, padding-left: 5rem;*/
    left: 1rem;  /* was 4.5rem, with width 56rem */
    width: 63rem;  /* 1180px 74rem */
    height: 57.5rem;  /* 980px */
    /* clip-path: polygon(3% 0%, 44% 0%, 83% 100%, 44% 100% ); */
    clip-path: polygon(0% 0%, 54% 0%, 73% 100%, 50% 100% );
    z-index: -10;
}

header {
    margin: 0; padding: 0; width: 100%;
    order: -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* min-width: 57rem; */
    /* min-width: 64.947rem; */
}
header h1 {
    align-self: flex-start;
    font-family: 'Diplomata', cursive;
    font-size: 3.6rem;
    margin: 0 0 -2.5rem 1.25rem;
    transform: rotate(-10deg);
}
#swing { display: block; }
#swing::before {
content: attr(data-text);
padding: 0 2.5em;
}
header img {
    width: 150px;
    /* height: auto; */
    /* border-radius: 1rem; */
}
 /****** Menu ************************/
input#menu-toggle[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
 }
 label#menu {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 0.75rem 0 0.25rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #66050d; /*  #77161e; */
    color: #eeeeee;
    border-radius: 1rem;
  }
  /* Default State */
  .nav-menu  {
    display: none;
    position: absolute;
    top: 7rem;
    right: 2rem;
    /* visibility: hidden; */
    text-align: right;
}
  /* Toggled State */
  input[type=checkbox]:checked ~ .nav-menu {
    display: inline-block;
    /* visibility: visible; */
}
header nav {
    align-self: flex-end;
    margin: 0;
    text-align: right;
}
/* ***** End Menu *********************** */
header nav ul { display: block; margin: 0; }
header nav li { display: block; text-align: right; }
header nav .user-login li { display: inline-block; }
header nav .user-login li:before { content: ' |'; }
header nav a { text-decoration: none; }
/*
@media screen and (min-width: 1133px) {
    header nav {
        align-self: flex-end;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: flex-start; */ /*
        /* text-align: right; */ /*
    }
} */
/* @media screen and (max-width: 1199px) {
    html { font-size: 95%; }
}
@media screen and (max-width: 1080px) {
    html { font-size: 85%; }
}
@media screen and (max-width: 960px) {
    html { font-size: 75%; }
}
@media screen and (max-width: 840px) {
    html { font-size: 65%; }
} */
/* html {font-size: 1vw; } */
footer {
    order: 3;
    font-size: 90%;
    /* font-size: smaller; */
    width: 20.58rem;
    position: relative;
    bottom: 13.75rem;
}
footer ul { display: block; margin: 0; padding:0; }
footer li { display: inline-block; text-align: left; margin: 0; padding: 0; }
footer li:before { content: '| '; }
footer a { text-decoration: none; }
footer p { margin: 0; padding: 0; }
footer img { visibility: collapse; height: 10rem; border-radius: 1.25rem; }
/* footer li:first-child::before { content: 'Home' } */
/* footer li:first-child { content: 'Home |'} */

@media screen and (max-width: 1199px) {
    html { font-size: 1.32vw; }
}
/* @media screen and (max-width: 1080px) {
    html { font-size: 85%; }
} */
@media screen and (max-width: 960px) {
    html { font-size: 79.25%; }
    /* Make paragraph font size of 10 */
    /* html { font-size: 1.162795vw; } */
}
@media screen and (max-width: 880px) {
    /* html { font-size: 69.25%; } */
    #left-design-layout img { visibility: collapse; }
    footer img { visibility: visible; display: inline-block; }
    footer { width: 11.5rem; bottom: 16.75rem; }
    footer li:first-of-type { visibility: collapse; width: 0; }
}
#layout {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    /* align-items: stretch; */
}
#left-design-layout {
  /* seems 19rem  is the "natural" width with img width of 300px. */
  /* seems 12.5rem  is the "natural" width with img width of 200px. */
  /* min-width: 7.947rem; */
  min-width: 0.1rem;
  max-width: 14.80rem;
  max-height: 46rem;
  /* align-self: flex-end; */
  order: 1;
  flex: 2 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#left-design-layout img { width: 100%; }
main {
    order: 2;
    flex: 1 1;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}

/* **** HIGHLIGHT HERE **** */
/* #offers, */
/* main section:last-child, */
/* #offers-visual-element, */
#layout,
/* #header, */
/* #left-design-layout, */
/* main, */
footer
{
    outline: 1px solid red;
}
#offers-visual-element {
    background-color: #77161e;
    z-index: -1;
    order: 4;
    position: relative;
    right: 27.8rem;
    bottom: 57.35rem;
    width: 44.186521rem;
    height: 57.35rem;
    clip-path: polygon(-7.75% 0%, 70% 0%, 100% 100%, 65.5% 100% );

    /* width: 45.49121rem;
    height: 57.35rem;
    clip-path: polygon(-3.75% 0%, 70% 0%, 100% 100%, 65.75% 100% ); */


    /* width: 41.63574rem; */
    /* width: 44.14257621765136363rem;
    height: 60rem;
    clip-path: polygon(-7.5% 0%, 72.5% 0%, 100% 100%, 68.25% 100% ); */

    /* width: 45.0069rem;
    height: 57.35rem;
    clip-path: polygon(-5.75% 0%, 70% 0%, 100% 100%, 65.75% 100% ); */
    /* width: 42.08202934265136363rem; */

    /* top: -62.10839653rem; */
    /* left: 24.25rem; */
    /* top: -57.36rem; */
    /* width: 63rem; */
    /* height: 57.5rem; */
    /* Following forces it into a new row */
    /* width: 48.94rem; */
    /* width: 100%; */
    /* clip-path: polygon(0% 0%, 74% 0%, 100% 100%, 68.25% 100% ); */
    /* width: 41.63574028015rem; */

    /* clip-path: polygon(0% 0%, 74% 0%, 100% 100%, 68.25% 100% ); */
    /* clip-path: polygon(-40% 0%, 85% 0%, 130% 100%, 50% 100%); */
    /* clip-path: polygon(0% 0%, 54% 0%, 73% 100%, 50% 100% ); */
}
#offers {
    /* width: 22rem; */
    max-width: 23.5rem;
    margin-right: 2rem;
    /* padding: 4rem 0 0 7.25rem; */
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    /* transform: skew(20deg); */
    /* transform: skew(15deg, -15deg); */
    /* transform: rotate(-20deg); */
}
#offers p.description { text-align: left; }
#offers article {
    /* background-color: #77161e; #66050d; */
    /* align-self: flex-start; */
    /* transform: skew(-20deg); */
    /* transform: skew(-15deg, 15deg); */
    margin: 0.5rem auto;
    border: 0.25rem solid #d8cdbe;
    border-radius: 2rem;
    padding: 0.25rem;
    /* min-height: 12rem; */
    z-index: 1;
}
#offers h1 {
    /* min font-size: 1.76em;  */
    font-size: 1.8625em;
    /* margin-bottom: 0.5em; */
}
#offers h3 {
    margin: 0;
}
#offers p {
    margin: 0.75em 0;
}
#offers article:nth-child(1) {
    /* width: 82%; */
    width: 20.08rem;
    /* min-width: 20.08rem; */
    /* margin-right: 0.106%; */
    /* margin-right: 2.5rem; */
    margin-left: 0rem;
    /* margin-left: 2.5rem; */
}

#offers article:nth-child(2) {
    /* margin-right: 2rem; */
    /* width: 78%; */
    /* min-width: 15.58300733566285rem; */
    width: 17.75rem;
    margin-left: 7.3rem;
    transform: rotate(-3deg);
}
#offers article:nth-child(3) {
    /* width: 57%; */
    width: 13.36rem;
    margin-left: 14.6rem;
}
main section:last-child {
    /* align-self: flex-start; */
    /* width: offers ok at >=20rem, video ok at >=24rem,  between 20rem or 24rem and 26rem probably */
    /* max-width: 33.5rem; */
    /* min-width: 31.625rem; */
    width: 33.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main section:last-child iframe {
    /* width 31rem, height: 23rem, 2rem border-radius */
    /* max-width: 95.5%; */
    width: 31rem;
    /* width: 92.5%; */
    height: 23rem;
    border-radius: 2rem;
}
main section:last-child article:last-child {
    min-width: 26.25rem;
    /* max-width: 95%; */
    /* max-width: 27.85rem; */
    text-align: right;
    /* width: 80%; */
}
main section:last-child article:last-child p {
    text-align: left;
    /* width: 90%; */
    padding-left: 14%;
}

main section:last-child article:last-child p:last-child{
    padding-left: 22%;
    /* width: 90%; */
}
