body {
    background-color: #a3c2d7;  /* ccefdb 3b9c71 light=#abc9dd darker=#72a1ca middle=#92b5d1 25%=#a3c2d7  */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    width: 96%;
    max-width: 71.8rem;
    /* height: 100%; */
    margin: 0 auto;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
/* #bg2-stripe {
    position: absolute;
    left: 18.5rem;
    width: 22rem;
    height: 80rem;
    transform: skew(20deg);
    background-color: yellow;
    z-index: -2;
} */
footer {
    width: 23rem;
    height: 5rem;
    /* vertical-align: bottom; */
    /* outline: 1px solid red; */
    /* position: absolute; */
    /* Left: 3rem; width: 61rem; height: 66rem; Clean edge for: width: 26rem;, padding-top: 4rem;, padding-left: 5rem;*/
    /* left: 2rem; */
    /* bottom: 1rem; */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 57rem;
    margin: 0; padding: 0; width: 100%;
}
header h1 {
    align-self: flex-start;
    font-family: 'Diplomata', cursive;
    font-size: 3.6rem;
    margin: 0 0 -2.5rem 1.25rem;
    transform: rotate(-10deg);
}
#swing { display: block; }
#swing::before {
content: attr(data-text);
padding: 0 2.5em;
}
header img {
    width: 150px;
    /* height: auto; */
    /* border-radius: 1rem; */
}
 /****** Menu ************************/
input#menu-toggle[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
 }
 label#menu {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 0.75rem 0 0.25rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #66050d; /*  #77161e; */
    color: #eeeeee;
    border-radius: 1rem;
  }
  /* Default State */
  .nav-menu  {
    display: none;
    position: absolute;
    top: 7rem;
    right: 2rem;
    /* visibility: hidden; */
    text-align: right;
}
  /* Toggled State */
  input[type=checkbox]:checked ~ .nav-menu {
    display: inline-block;
    /* visibility: visible; */
}
header nav {
    align-self: flex-end;
    margin: 0;
    text-align: right;
}
/* ***** End Menu *********************** */
/*
@media screen and (min-width: 1133px) {
    header nav {
        align-self: flex-end;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: flex-start; */ /*
        /* text-align: right; */ /*
    }
} */

header nav ul { display: block; margin: 0; }
header nav li { display: block; text-align: right; }
header nav .user-login li { display: inline-block; }
header nav .user-login li:before { content: ' |'; }
header nav a { text-decoration: none; }
#layout {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#left-design-layout {
  /* seems 19rem  is the "natural" width with img width of 300px. */
  /* seems 12.5rem  is the "natural" width with img width of 200px. */
  max-width: 14.80rem;
  /* align-self: flex-start; */
  /* height: 76rem; */
  order: 1;
  /* flex: 2 2; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}
#left-design-layout img { width: 100%; }

/* **** HIGHLIGHT HERE **** */
#stripe,
main section:last-child,
/* #stripe-held, */
/* #layout, */
/* #header, */
#left-design-layout,
/* main, */
footer
{
    outline: 1px solid red;
}
main {
    /* width: 100%; */
    /* height: 76rem; */
    order: 2;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}
#bg-stripe {
    background-color: #33AA33;
    position: absolute;
    /* Left: 3rem; width: 61rem; height: 66rem; Clean edge for: width: 26rem;, padding-top: 4rem;, padding-left: 5rem;*/
    left: 1rem;  /* was 4.5rem, with width 56rem */
    width: 63rem;  /* 1180px 74rem */
    height: 57.5rem;  /* 980px */
    /* clip-path: polygon(3% 0%, 44% 0%, 83% 100%, 44% 100% ); */
    clip-path: polygon(0% 0%, 54% 0%, 73% 100%, 50% 100% );
    z-index: -10;
}
#stripe-held {
    position: relative;
    /* width: 63rem; */
    width: 63rem;
    height: 57.5rem;
    left: 24.25rem;
    top: -57.36rem;
    background-color: #77161e;
    /* clip-path: polygon(-40% 0%, 85% 0%, 130% 100%, 50% 100%); */
    clip-path: polygon(0% 0%, 54% 0%, 73% 100%, 50% 100% );
    z-index: -5;
}
#stripe {
    /* width: 22rem; */
    width: 23.5rem;
    /* padding: 4rem 0 0 7.25rem; */
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    /* transform: skew(20deg); */
    /* transform: skew(15deg, -15deg); */
    /* transform: rotate(-20deg); */
}
#stripe p.description { text-align: left; }
#stripe article {
    /* background-color: #77161e; #66050d; */
    /* align-self: flex-start; */
    /* transform: skew(-20deg); */
    /* transform: skew(-15deg, 15deg); */
    margin: 0.5rem auto;
    border: 0.25rem solid #d8cdbe;
    border-radius: 2rem;
    padding: 0.25rem;
    /* min-height: 12rem; */
    z-index: 1;
}
#stripe article:nth-child(1) {
    /* width: 82%; */
    width: 21rem;
    margin-right: 2.5rem;
    /* margin-left: 2.5rem; */
}

#stripe article:nth-child(2) {
    /* margin-right: 2rem; */
    /* width: 70%; */
    width: 18.25rem;
    margin-left: 7.25rem;
    transform: rotate(-3deg);
}
#stripe article:nth-child(3) {
    /* width: 52%; */
    width: 13.5rem;
    margin-left: 14.75rem;
}
main section:last-child {
    /* align-self: flex-start; */
    width: 33.5rem;  /* width: stripe ok at >=20rem, video ok at >=24rem,  between 20rem or 24rem and 26rem probably */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main section:last-child iframe {
    /* width 31rem, height: 23rem, 2rem border-radius */
    width: 31rem;
    height: 23rem;
    border-radius: 2rem;
}
main section:last-child article:last-child {
    width: 80%;
}
main section:last-child article:last-child p:last-child{
    padding-left: 13%;
    /* width: 90%; */
}
