body {
    background-color: #a3c2d7;  /* ccefdb 3b9c71 light=#abc9dd darker=#72a1ca middle=#92b5d1 25%=#a3c2d7  */
    /* overflow: hidden; */
    width: 98%;
    min-width: 64.75rem;
    max-width: 77.8rem;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header {
    margin: 0; padding: 0; width: 100%;
    order: -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header h1 {
    align-self: flex-start;
    font-family: 'Diplomata', cursive;
    font-size: 3.6rem;
    margin: 0 0 -2.5rem 1.25rem;
    transform: rotate(-10deg);
}
#swing { display: block; }
#swing::before {
content: attr(data-text);
padding: 0 2.5em;
}
header img {
    width: 150px;
    /* height: auto; */
    /* border-radius: 1rem; */
}
 /****** Menu ************************/
input#menu-toggle[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
 }
 label#menu {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    margin: 0.75rem 0 0.25rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #66050d; /*  #77161e; */
    color: #eeeeee;
    border-radius: 1rem;
  }
  /* Default State */
  .nav-menu  {
    display: none;
    position: absolute;
    top: 7rem;
    right: 2rem;
    /* visibility: hidden; */
    text-align: right;
}
  /* Toggled State */
  input[type=checkbox]:checked ~ .nav-menu {
    display: inline-block;
    /* visibility: visible; */
}
header nav {
    align-self: flex-end;
    margin: 0;
    text-align: right;
}
/* ***** End Menu *********************** */
header nav { font-size: 115%; }
header nav ul { display: block; margin: 0; }
header nav li { display: inline-block; text-align: right; }
header nav .user-login li { display: inline-block; }
header nav li:before { content: ' | '; }
header nav a { text-decoration: none; }
/* ***** End Header Elements ************ */
footer {
    order: 3;
    font-size: 90%;
    /* font-size: smaller; */
    width: 20.58rem;
    position: relative;
    bottom: 13.75rem;
}
footer ul { display: block; margin: 0; padding:0; }
footer li { display: inline-block; text-align: left; margin: 0; padding: 0; }
footer li:after { content: ' | '; }
footer li:last-of-type:after { content: ''; }
footer a { text-decoration: none; }
footer p { margin: 0; padding: 0; }
footer img { visibility: collapse; height: 10rem; border-radius: 1.25rem; }

#left-design-layout {
  /* min-width: 7.947rem; */
  min-width: 0.1rem;
  max-width: 14.80rem;
  max-height: 46rem;
  order: 1;
  flex: 3 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#left-design-layout img { width: 100%; }
main {
    order: 2;
    flex: 1 1;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}
/* **** HIGHLIGHT HERE **** */
/* #offers, */
/* main section:last-child, */
/* #offers-visual-element, */
/* #header, */
/* #left-design-layout, */
/* main, */
/* #layout, */
/* footer
{
    outline: 1px solid red;
} */
#offers-visual-element {
    background-color: #77161e;
    z-index: -1;
    order: 4;
    /* position: relative;
    right: 27.8rem;
    bottom: 57.35rem;
    width: 44.186521rem;
    height: 57.35rem;
    clip-path: polygon(-7.75% 0%, 70% 0%, 100% 100%, 65.5% 100% );
    */
    position: absolute;
    right: 29.3rem;
    /* left: 0; */
    top: 0;
    width: 46rem;
    height: 58.35rem;
    clip-path: polygon(-3% 0%, 70% 0%, 100% 100%, 64.5% 100% );
}
#offers {
    max-width: 23.5rem;
    margin-right: 2rem;
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
}
#offers p.description { text-align: left; }
#offers article {
    /* background-color: #77161e; #66050d; */
    margin: 0.5rem auto;
    border: 0.25rem solid #d8cdbe;
    border-radius: 2rem;
    padding: 0.25rem;
    z-index: 1;
}
#offers h1 { font-size: 1.8625em; }
#offers h3 { margin: 0; }
#offers p { margin: 0.75em 0; }

#offers article:nth-child(1) { width: 20.08rem; margin-left: 0rem; }
#offers article:nth-child(2) { width: 17.75rem; margin-left: 7.3rem; transform: rotate(-3deg); }
#offers article:nth-child(3) { width: 13.36rem; margin-left: 14.6rem; }

main section:last-child {
    /* max-width: 33.5rem;
    min-width: 31.625rem; */
    flex: 1 1;
    width: 33.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.video {
    position:relative;
    padding-top: 74.19%;
    width: 92.537%;
    /* min-width: 31rem; */
}
/* .video h2 { position: absolute; top: 0; right: 0; } */
.video iframe {
    position:absolute; top:0; right:0;
    width:100%; height:100%;
    border-radius: 2rem;
}
/* main section:last-child iframe { width: 31rem; height: 23rem; border-radius: 2rem; } */
main section:last-child article:last-child {
    min-width: 26.25rem;
    /* max-width: 27.85rem; */
    text-align: right;
}
main section:last-child article:last-child p { text-align: left; padding-left: 14%; }
main section:last-child article:last-child p:last-child{ padding-left: 22%; }

@media screen and (max-width: 1199px) {
    html { font-size: 1.32vw; }
    /* Make paragraph font size of 10 */
    /* html { font-size: 1.162795vw; } */
}
@media screen and (max-width: 960px) {
    html { font-size: 79.25%; }
    #offers { outline: solid red; }
    /* #left-design-layout {
        min-width: unset; max-width: unset;
        width: 14.80rem;
    } */
    /* main section:last-child {
        min-width: unset; max-width: unset;
        width: 36.247vw;
    } */

}
/* 880  */
@media screen and (max-width: 880px) {
    #left-design-layout img { visibility: collapse; }
    #left-design-layout { width: 0; height: 0; min-width: unset; }
    footer img { visibility: visible; display: inline-block; }
    footer { width: 11.5rem; bottom: 16.75rem; }
    footer li:first-of-type { visibility: collapse; width: 0; }

    /* #left-design-layout { width: 0; height: 0; min-width: unset; } */
    /* #offers-visual-element { clip-path: polygon(-4.35vw 0%, 70% 0%, 100% 100%, 38.2vw 100% ); } */
    /* #offers article:nth-child(2) { width: 17.75rem; margin-left: 9.64208vw; } */
    /* #offers article:nth-child(3) { width: 13.36rem; margin-left: 19.2842vw; } */
    #offers { outline: solid red;}
    main { outline: solid purple; }
    /* main section:last-child { min-width: 23rem; max-width: 50.87vw; width: unset; } */
}
@media screen and (max-width: 265px) {
    #left-design-layout img { visibility: collapse; }
    #left-design-layout { width: 0; height: 0; min-width: unset; }
    footer img { visibility: visible; display: inline-block; }
    footer img { height: 15.187vw; }
    footer { width: 11.5rem; bottom: 14.75rem; }
    footer li:first-of-type { visibility: collapse; width: 0; }
    body {
        width: 100%; min-width: unset;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header { background-color: yellow;}
    #left-design-layout { width: 0; height: 0; min-width: unset; }
    main {  margin-left: 1.5rem; outline: solid purple; }
    /* footer {  } */
    #offers-visual-element { width: 0; height: 0;}

    #offers { outline: solid red;}
    main section:last-child { min-width: 23rem; max-width: 50.87vw; width: unset; }
    /* #offers { max-width: 23.5rem; } */
    #offers { margin-right: 4.5vw; }
    /* #offers article:nth-child(1) { width: 20.08rem;                   }
    #offers article:nth-child(2) { width: 17.75rem; margin-left: 20%; }
    #offers article:nth-child(3) { width: 13.36rem; margin-left: 55%; } */
    /* #offers article:nth-child(1) { width: 20.08rem;                   } */
    #offers article:nth-child(2) { width: 17.75rem; margin-left: 11vw; }
    #offers article:nth-child(3) { width: 13.36rem; margin-left: 22vw; }

}
