{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}
  <title>Swing Dance - Lindy Hop Classes!</title>
  {% endblock %}
</head>
<body>
  <header>
    <h1><span>Seattle</span> Swing</h1>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'classoffer_list' %}">ClassOffer List</a></li>
        <li><a href="{% url 'location_list' %}">Location List</a></li>
        <li><a href="{% url 'register' %}">Sign Up for Classes</a></li>
        <li><a href="{% url 'aboutus' %}">About Us</a></li>

      </ul>
      <ul class='user-login'>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'profile_page' %}">Profile</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}"> Create Login Account</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
      {% if user.is_staff %}
      <ul>
        <li><a href="{% url 'admin:index' %}" >admin</a></li>
        <li><a href="{% url 'checkin' %}">Checkin Sheet</a></li>
      </ul>
      {% endif %}
    </nav>
  </header>
  <aside>
    <img src="{% static 'assets/space-needle.png' %}" alt="Seattle Space Needle" />
  </aside>
  <main>
      {%if user.is_authenticated %}
      <p>Welcome {{ user.username }}</p>
      {% endif %}
      {% if user.is_superuser %}
      <p>Super User is Here</p>
      {% endif %}
    {% block content %}
    <h3>No Content</h3>
    {% endblock %}
  </main>
  <footer></footer>
</body>
</html>
