{% extends "generic/base.html" %}
{% load static %}

{% block super_head %}
<link rel="stylesheet" href="{% static 'css/needle.css' %}">
{% block head %}
<title>Swing Dance - Lindy Hop Classes!</title>
{% endblock head %}
{% endblock super_head %}


{% block super_content %}
<main>

{% block content %}
  <h2>No Content yet on this view using the needle template.</h2>
{% endblock content %}

</main>
<div id="left-design-layout">
  <img src="{% static 'assets/space-needle-observation.png' %}" alt="Space Needle Layout Element" />
  <section>
  </section>
</div> <!-- div#left-design-layout  -->
{% block design_bonus %}
{% endblock design_bonus %}

{% endblock super_content %}
