{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/../../static/css/normalize.css' %}">
  {% block head %}
  <title>Swing Dance - Lindy Hop Classes!</title>
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}"> Create Login Account</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'classoffer_list' %}">ClassOffer List</a></li>
        <li><a href="{% url 'subject_list' %}">Subject List</a></li>
        <li><a href="{% url 'session_list' %}">Session List</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}" >admin</a></li>
        {% if user.is_superuser %}
        <li>Super User is Here</li>
        <li><a href="{% url 'location_list' %}">Location List</a></li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>
    {%if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    {% endif %}
</header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock %}
  </main>
  <footer></footer>
</body>
</html>
