asn1crypto==0.24.0
braintree==3.54.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
confusable-homoglyphs==3.2.0
cryptography==2.6.1
Django==2.2.10
django-appconf==1.0.3
django-compressor==2.2
django-payments==0.13.0
django-registration==3.0.1
django-sass-processor==0.7.2
idna==2.8
libsass==0.18.0
Pillow==6.2.0
psycopg2-binary==2.8.2
pycparser==2.19
PyJWT==1.7.1
pytz==2019.1
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.0.12
six==1.12.0
sqlparse==0.3.0
stripe==2.28.1
suds-jurko==0.6
urllib3==1.25.2
xmltodict==0.12.0
